[project]
name = "awdx"
version = "0.0.7"
description = "AWS DevOps X: Human-friendly, interactive AWS DevSecOps CLI tool."
authors = [
  { name = "Partha Sarathi Kundu", email = "pxkundu2@shockers.wichita.edu" }
]
readme = "README.md"
license = "MIT"
requires-python = ">=3.8"
dependencies = [
    "typer[all] >=0.9.0",
    "boto3 >=1.28.0"
]
keywords = ["aws", "devops", "devsecops", "cli", "cost-analysis", "security", "automation"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Intended Audience :: System Administrators",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Topic :: System :: Systems Administration",
    "Topic :: Utilities",
    "Topic :: Software Development :: Libraries :: Python Modules",
]
urls = {Homepage = "https://github.com/pxkundu/awdx", Repository = "https://github.com/pxkundu/awdx"}

[project.scripts]
awdx = "awdx.__main__:app"

[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["src"]

[tool.setuptools.package-data]
awdx = ["docs/*.png"]

[tool.setuptools.data-files]
"" = ["docs/*.png"] 