.centered-content {
  margin-left: 5%;
  margin-right: auto;
  width: 90%
}

.divider {
  background: #000000;
  height: 1px;
}

.right-aligned {
  float: right;
}

.spaced-left {
  margin-left: 10px;
}

.unapproved {
  color: #808080;
  background-color: #EEEEEE;
}

.wrap-text {
  word-wrap: break-word;
}

.multiple-line {
  white-space: pre-wrap;
  word-wrap: break-word;
}

#issue-resolution-table {
  height: 400px;
  overflow-y: scroll;
}

.issue-resolution {
  font-size: 1.75em;
  color: #FFCA00;
}

#issue-resolution {
  width: 28px !important;
  height: 28px !important;
}

.notice-container{
  background-color: blanchedalmond;
  padding: 10px;
  border-radius: 10px;
}

.char-count {
  text-align: right;
  color: #808080;
}

.comment-count {
  color: #808080;
}

label.radio {
  margin-right: 24px;
  display: inline-block;
}

.resize-vertical {
  resize: vertical;
}