[buildout]
find-links = https://pypi.projekt01.ch/simple/m01.fake
develop = .
versions = versions
parts = test checker py


[versions]
m01.fake = 3.13.2
pymongo = 3.13.0


[test]
recipe = zc.recipe.testrunner
eggs = m01.stub [test]
       future


[checker]
recipe = lovely.recipe:importchecker
path = src/m01/stub


[py]
recipe = zc.recipe.egg
eggs = m01.stub
       future
interpreter = python
