[project]
name = "cf-dns-edit"
version = "0.2.5"
description = "TUI to edit DNS records for cloudflare domains"
readme = "README.md"
authors = [
    { name = "ShyMike", email = "122023566+ImShyMike@users.noreply.github.com" }
]
requires-python = ">=3.11"
dependencies = [
    "click>=8.2.1",
    "cloudflare>=4.2.0",
    "python-dotenv>=1.1.1",
    "textual>=3.5.0",
]

[project.scripts]
cf-dns-edit = "cf_dns_edit:cli"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["cf_dns_edit"]
