.button {
	color: inherit !important;
	text-decoration: none;;
	border: 1px solid #ccc;
	border-radius: 0.5em;
	padding: 0.4em 0.7em;
	text-decoration: none;
	color: #000;
	background: #fff;
}

.green {
	background: #1a5a1a;
	transition: all 0.2s ease-in-out !important;
}

.green:hover {
	background: #4a5a4a;
}

.green:active {
	background: #113a11;
}
