.btn-floating {
    position: fixed;
    z-index: 1030;
    bottom: 1rem;
    right: 1rem;
    box-shadow: var(--tblr-shadow-dropdown);
}

<a href="#" class="btn btn-floating btn-icon btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSettings" aria-controls="offcanvasSettings">
    <i class="fa-solid fa-bug"></i>
</a>