#joyDiv{
    /* border-top-left-corner: solid blue 1px; */
}

.front{
    border: solid black 1px;
    /*border-style: hidden double hidden; */
    border-right-width: thick;
    border-left-width: thick;
    /* margin-left: 15px; */
}
.back{
    border: solid rgb(184, 184, 184) 2px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
}